html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

svg {
  overflow: visible;
}

.main-logo {
  margin: 0 auto;
  width: 35%;
}
.header-logo {
  margin-right: 30px;
  width: 60%;
}

hr {
  width: 30%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top-width: 6px;
}
.x-scroll {
  overflow-x: scroll;
}
