html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

svg {
  overflow: visible;
}

.main-logo {
  width: 50%;
  margin: 0 auto;
}
.header-logo {
  width: 10%;
  margin-right: 30px;
}
